setuptools>=79.0.1
python-dotenv>=1.0.0
playwright==1.48.0
playwright-stealth==1.0.6
requests==2.32.3
openai-whisper==20231117
pydub==0.25.1
torch==2.5.1
torchaudio==2.5.1
fastapi==0.115.5
uvicorn==0.30.6